[submodule "pack/submodules/start/vim-quickrun"]
	path = pack/submodules/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
	ignore = dirty
[submodule "pack/submodules/start/vim-lsc"]
	path = pack/submodules/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "pack/preload-submodules/start/vim-rooter"]
	path = pack/preload-submodules/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "pack/submodules/start/vim-airline"]
	path = pack/submodules/start/vim-airline
	url = http://github.com/vim-airline/vim-airline.git
[submodule "pack/submodules/start/vim-fugitive"]
	path = pack/submodules/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/submodules/start/elm-vim"]
	path = pack/language-supports/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "pack/submodules/start/vim-pug"]
	path = pack/language-supports/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "pack/language-supports/start/vim-pony"]
	path = pack/language-supports/start/vim-pony
	url = https://github.com/jakwings/vim-pony.git
[submodule "pack/submodules/start/vim-dcrpc"]
	path = pack/submodules/start/vim-dcrpc
	url = https://gitlab.com/betseg/vim-dcrpc.git
[submodule "pack/language-supports/start/satysfi.vim"]
	path = pack/language-supports/start/satysfi.vim
	url = https://github.com/qnighy/satysfi.vim.git
